body {
    background-color: bisque;
}

h1 {
    color: maroon;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: forestgreen;
    font-size: 30px;
    text-align: center;
}

label {
    font-size: 24px;
    color: brown;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
    color: brown;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid black;
    
}

.selection {
    display: inline-block;
    width: 32.8%;
}

input {
    border: 1px solid black;
    font-size: 24px;
    width: 32.8%;
}

a:link {
    color: chocolate;
}

a:visited {
    color: darkorange;
}

table {
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
}

form {
    text-align: center;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    background: rgba(241, 238, 230, 0.945);
}

a {
    margin-left: 20px;
    margin-bottom: 20px;
}